<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Sentiment Analysis</h1>
    </div>
  </div>

  <br><br>

  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <label for="text">Text:</label>
      <textarea [(ngModel)]="text" class="form-control" id="text" rows="7"></textarea>
      <div class="error-message text-danger" *ngIf="hasText()"> Text is required! </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <label class="col-auto">Language: </label>
    <div class="form-check col-auto">
      <input [(ngModel)]="lang" class="form-check-input" type="radio" name="lang" id="langEn" value="en" checked>
      <label class="col-auto">English</label>
    </div>
    <div class="form-check col-auto">
      <input [(ngModel)]="lang" class="form-check-input" type="radio" name="lang" id="langIt" value="it" checked>
      <label class="col-auto">Italian</label>
    </div>
    <div class="form-check col-auto">
      <input [(ngModel)]="lang" class="form-check-input" type="radio" name="lang" id="auto" value="auto" checked>
      <label class="col-auto">Auto</label>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-2 d-grid p-4">
      <button type="button" [disabled]="hasText()" class="btn btn-primary btn-block" (click)="getSentimentAnalysis()">Submit</button>
    </div>
  </div>

  <div *ngIf="score !== undefined && type !== undefined" class="row justify-content-center">
    <div class="col-md-4 text-center">
      <h3>Score: {{ score }}</h3>
    </div>

    <div class="col-md-4 text-center">
      <h3 [style.color]="getColorCode()"> Type: {{ type }}</h3>
    </div>
  </div>

</div>
